.session-details-paras {
    font-size: 1.2rem;
    color: #808080;
}
.session-details-para-font {
    font-size: 1.4rem;
    color: #808080;
}
.edit-btn {
    margin-left: 13rem;
}
.person-ticket-cost {
    position: relative;
}
.save-to-favorite {
    display: inline-block;
    position: absolute;
    right: 0;
}
.session-location-map {
    height:373px; 
    width:100%;
    border: 1px solid black;
}
.custom-breadcrumb {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem 0.7rem 0;
    margin-top: 0.8rem;
    list-style: none;
    font-weight: 500;
    font-size: 1.05rem;
}
ul.custom-breadcrumb li+li:before {
    padding: 0.25rem;
    color: black;
    content: "|";
}
