body {
	/* margin: ; */
	padding-top: 0px;    
    font-family: raleway, sans-serif;
    font-style: 1.8em;
    line-height: 1.15;
    background-color: #fff;
}
/* Global Properties */
.mr-left {
    margin-left: 3rem!important;
}
/* .mr-right {
    margin-right: 4rem!important;
} */
a:hover {
    text-decoration: none;
}
.logo {
    font-weight: 700;
    color: #ffe412!important;
    font-size: 160%!important;
    padding:0;
}
label {
	margin-bottom: 40px;
}
.selectWrapper {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    display: inline-block;
    overflow: hidden;
    background: #cccccc;
    border: 1px solid #cccccc;
    width: 100%;
  }
  .selectBox {
    width: 100%;
    height: calc(2.25rem + 2px)!important;
    border: 0px;
    outline: none;
    padding: 2rem .75rem!important;
    box-shadow: 1px 1px 18px #888888!important; 
  }
.search-btn {
    background-color: #ffce00;
}
.yellow-text {
    color: #ffdb48;
}
.session-title {
    padding-bottom: 8px!important;
    /* border-bottom: 2px solid black!important; */
    border: 0!important;
    outline: 0!important;
    background: transparent;
    border-bottom: 1px solid #dddedf!important;
    border-radius: 0!important;  
}
input[type="text"].session-title:focus,
input[type="text"].ticket-cost:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0!important;
  border-color: #dde1e5;
}
.add-coach-btn {
    background-color: #fff;
    border: 1px solid #bbbdbe!important;
    border-radius: 30px!important;
    padding: 6px;
    height: 40px;
    width: 189px;
    font-size: 0.5em!important;
    letter-spacing: 1.5px;
}
.ticket-cost {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 2.5rem!important;
    display: inline-block;
    overflow: hidden;
    background: #cccccc;
    border: 1px solid #cccccc;
    width: 100%;
    height: calc(3.25rem + 2px)!important;
    margin-bottom: 0px!important;
    box-sizing: border-box;
  }
  .br-1 {
      border-radius: 1rem!important;
      resize: none;
  }
  textarea .br-1:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0!important;
    border-color: #dde1e5!important;
  }